@import '../components/color.scss';

body {
  font-family: 'STKaiti';
}

h1, h2, h3, h4, h5 {
  color: $ganglan !important;
}

.css-wwgiek {
  background: #f4f4f4;

  a {
    color: $ganglan !important;

    &:hover {
      color: $meihong !important;
    }
  }
}

.css-y1r3ra:before {
  background: $ganglan;
}

.css-1swvs11 {
  fill: $ganglan;
}

.zhui-btn {
  margin: 5px 10px;

  &-group {
    .zhui-btn {
      margin: 0;
    }
  }
}

.zhuiicon {
  &-wrapper {
    display: flex;
    align-items: center;

    > i {
      margin-right: 10px;
    }
  }

  &-row > i {
    margin-right: 10px;
  }
}

.zhui-input {
  &-wrapper {
    margin: 10px 5px;
  }
}

.zhui-card {
  display: inline-block;
  margin: 5px;
}

.zhui-tag, .zhui-checkbox {
  &-wrapper {
    margin: 5px;
  }
}

.zhui-alert {
  &-wrapper {
    margin: 10px;
  }
}