html, body {
  height: 100%;
}

body {
  font-family: 'STKaiti';
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.center {
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  min-height: 550px;
  height: 100%;
  background-color: #dbe2e7;
  padding: 10px 20px;

  > div > div {
    &:first-child, &:last-child{
      > div {
        position: relative;
        padding-top: 50px !important;
        background-color: rgba(255,255,255,0.3) !important;
  
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: 100%;
          height: 30px;
          background: #192a34;
          box-shadow: -2px 2px 4px #000;
        }
      }
    }
  }
}

#story-root {
  position: relative;
  box-sizing: border-box;
  padding: 30px 20px 0;
  border: 1px solid rgb(238, 238, 238);
  background-color: rgba(255,255,255,0.3);

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 30px;
    background: #192a34;
    box-shadow: -2px 2px 4px #000;
  }
}

.storybook {
  &-wrapper {
    position: relative;
  }

  &-code-btn {
    position: absolute;
    right: 5px;
    top: 0;
    font-family: 'Lucida Console',Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      color: #1a9dfd;
    }
  }

  &-title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  &-sub {
    font-family: 'Lucida Console',Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace,'STKaiti';
    font-size: 14px;
    padding-left: 5px;
    margin: 0;
  }

  &-children {
    padding: 20px;
  }

  &-code-wrapper {
    font-family: 'Lucida Console',Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size: 0.8em;
    background: rgba(255, 255, 255, 0.4);
    padding: 15px 10px;
    overflow: auto;

    &-fold {
      display: none;
    }
  }
}
