.zhui {
  &-btn {
    margin: 5px 10px;

    &-group {
      .zhui-btn {
        margin: 0;
      }
    }
  }

  &icon {
    &-wrapper {
      display: flex;
      align-items: center;
  
      > i {
        margin-right: 10px;
      }
    }
  
    &-row > i {
      margin-right: 10px;
    }
  }

  &-input {
    &-wrapper {
      margin: 10px 5px;
    }
  }

  &-card {
    display: inline-block;
    margin: 5px;
  }

  &-tag, &-checkbox {
    &-wrapper {
      margin: 5px;
    }
  }

  &-alert {
    &-wrapper {
      margin: 10px;
    }
  }

  &-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
  }

  &-center {
    margin: 200px auto 0;
    padding: 100px;
  }
}

.material {
  background-image: url("https://s2.ax1x.com/2019/04/16/AvLUhj.jpg") !important;
  background-blend-mode: multiply;
}

h5 {
  font-size: 16px;
  margin: 0;
  text-align: center;
}
