button {
  text-transform: none;
  overflow: visible;
  outline: 0;
}

.zhui-btn {
  font-family: 'STKaiti';
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 1.5;
  border-radius: 5px;
  white-space: nowrap;
  padding: 0 15px;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: all .3s ease-in-out;
  margin: 0 5px;
}

.zhui-btn:hover {
  opacity: 0.7;
}

.zhui-btn-default {
  background: #fff;
  color: rgba(0,0,0,0.65);
  border: 1px solid #f2f6f2;
}

.zhui-btn-default:hover {
  border: 1px solid #1770a8;
  color: #1770a8;
}

.zhui-btn-primary {
  background: #41395b;
  color: #fff;
  border: none;
  box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}

.zhui-btn-primary-outline {
  border: 1px solid #41395b;
  color: #41395b;
}

.zhui-btn-success {
  background: #6f8657;
  color: #fff;
  border: 1px solid #6f8657;
}

.zhui-btn-success-outline {
  border: 1px solid #6f8657;
  color: #6f8657;
}

.zhui-btn-danger {
  background: #94232d;
  border: 1px solid #94232d;
  color: #fff;
}

.zhui-btn-danger-outline {
  border: 1px solid #94232d;
  color: #94232d;
}

.zhui-btn-large {
  height: 40px;
  font-size: 16px;
}

.zhui-btn-small {
  height: 24px;
  padding: 0 7px;
}

a.zhui-btn {
  line-height: 32px;
}

a.zhui-btn-large {
  line-height: 36px;
}

a.zhui-btn-small {
  line-height: 24px;
}

.zhui-btn-disabled, .zent-btn-disabled[disabled] {
  color: #bbb;
  background: #f8f8f8;
  border-color: #e5e5e5;
  pointer-events: none;
}

.zhui-btn > span {
  display: inline-block;
  pointer-events: none;
}
