$radius: 30px;

.zhui-switch-circle {
  position: relative;
  width: $radius;
  height: $radius;
  background: #000;
  border: 2px solid #343b59;
  border-radius: 50%;
  overflow: hidden;

  .zhui-switch {
    &-inner {
      &::before {
        position: absolute;
        content: '';
        top: 3%;
        left: -62%;
        width: $radius;
        height: $radius;
        background: #000;
        border-radius: 45%;
        animation: rotate 10s linear infinite;
        z-index: 1;
      }
    }
  }
  &::before {
    position: absolute;
    content: '';
    top: 25%;
    left: 16%;
    width: $radius;
    height: $radius;
    background: #343b59;
    border-radius: 50%;
    animation: rotate 10s linear infinite;
  }

  &::after {
    position: absolute;
    content: '';
    top: -25%;
    left: 35%;
    width: $radius;
    height: $radius;
    background: #343b59;
    border-radius: 45%;
    animation: rotate 10s linear infinite;
    z-index: 2;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}