.zhui-rate {
  display: flex;

  &-item {
    width: 18px;
    height: 22px;
    margin: 0 4px;

    > svg {
      cursor: pointer;
  
      &:hover {
        transform: scale(1.1, 1.1);
        transition: all .2s linear;
      }
    }
  }

  &-disabled > &-item > svg {
    cursor: not-allowed;
    &:hover {
      transform: none;
    }
  }
}