@import '../color.scss';
$circleWidth: 120px;

.zhui-progress {
  &-line {
    position: relative;
    width: 100%; 
    height: 40px;
    line-height: 10px;
    background: #fff;
    padding-left: 3px;
    overflow: hidden;
    filter: blur(3px) contrast(10);

    .zhui-progress {
      &-inner {
        display: inline-block;
        width: 90%;
        height: 8px;
      }
      
      &-bg {
        display: inline-block;
        position: relative;
        height: inherit;
        border-bottom: 10px solid #000;
        animation: width .2s linear;
      }
      
      &-rest {
        display: inline-block;
        position: relative;
        height: inherit;
        border-bottom: 15px solid #888;
        animation: width .2s linear;
      }

      &-active, &-exception {
        .zhui-progress-bg {
          &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: -20px;
            width: 10px;
            height: 20px;
            border-radius: 50%;
            background: #000;
            transform: translate(0, 0);
            animation: waterMove 12s ease-in-out infinite;
          }
        
          &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -20px;
            width: 10px;
            height: 20px;
            border-radius: 50%;
            background: #000;
            transform: translate(0, 0);
            animation: waterMove 12s ease-in-out 3s infinite;
          }
        }
      }

      &-exception {
        .zhui-progress-bg {
          border-bottom: 10px solid red;
    
          &::before, &::after {
            background: red !important;
          }
        }
      }

      &-success {
        .zhui-progress-bg {
          &::before, &::after {
            content: none;
          }
        }
      }
    }
  }

  &-circle {
    position: relative;
    width: $circleWidth;
    height: $circleWidth;
    box-shadow:0 0 2px #ddd;
    border-radius: 50%;
    background-image:
      radial-gradient(#000 12px, transparent 12px),
      radial-gradient(#fff 12px, transparent 12px),
      radial-gradient(#fff $circleWidth / 4, transparent $circleWidth / 4),
      radial-gradient(#000 $circleWidth / 4, transparent $circleWidth / 4),
      linear-gradient(90deg,#000 $circleWidth / 2, #fff $circleWidth / 2);
    background-position:center $circleWidth / 4,center (-$circleWidth / 4),center $circleWidth / 4,center (-$circleWidth / 4), 0 0;
    overflow: hidden;

    .zhui-progress {
      &-inner {
        position: relative;
        width: inherit;
        height: inherit;
      }
      &-waveBefore,
      &-waveAfter{
        content: "";
        position: absolute;
        width: $circleWidth;
        height: $circleWidth;
        left: 50%;
        background-color: rgba(255, 255, 255, .8);
        border-radius: 45%;
        transform: translate(-50%, -0%) rotate(0);
        animation: rotate 6s linear infinite;
        z-index: 10;
      }

      &-waveAfter {
        border-radius: 47%;
        background-color: rgba(255, 255, 255, .9);
        transform: translate(-50%, -0%) rotate(0);
        animation: rotate 10s linear -5s infinite;
        z-index: 20;
      }
    }
  }
}

@keyframes waterMove {
  50% {
    transform: translateY(3px);
  }
  80% {        
    left: calc(100% - 15px);
    transform: translateY(5px);
  } 93% {
    transform: translateY(3px);
    left: calc(100% - 15px);
    opacity: 1;
  } 100% {
    transform: translateY(40px);
    left: calc(100% - 15px);
    opacity: 0;
  }
}

@keyframes rotate {
  50% {
      transform: translate(-50%, -3%) rotate(180deg);
  } 100% {
      transform: translate(-50%, 0) rotate(360deg);
  }
}