@import '../color.scss';

.zhui-breadcrumb {
  &-item {
    position: relative;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s linear;
    color: $ganglan;
  }

  &-item:not(:last-child) {
    margin-right: 25px;
    color: rgba(0,0,0,0.45);

    &:hover {
      color: $ganglan;
    }

    &::after, &::before {
      position: absolute;
      content: '|';
      font-size: 25px;
      font-weight: bolder;
      color: $meihong;
    }

    &::after {
      right: -21px;
      top: -11px;
      transform: rotate(30deg);
    }

    &::before {
      right: -18px;
      top: -16px;
      transform: rotate(20deg);
    }
  }
}