@import '../color.scss';

$border: #eefd09;
$textBorder: #f9d79b;

.zhui-notify {
  &-container {
    position: absolute;
    top: 80px;
    right: 30px;
    
    .zhui-portal {
      position: fixed;
      z-index: 10;
    }
  }

  &-inner {
    position: relative;
    float: left;
    width: 30px;
    padding: 10px 8px;
    text-align: center;
    animation: unfold .3s linear;
    overflow: hidden;
    border: 2px solid $border;
    background: #e71d18;

    span {
      font-size: 20px;
      font-weight: bolder;
      background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to($border));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &-exit {
    animation: fold .5s linear forwards;
  }

  @keyframes unfold {
    from {
      max-height: 0;
    } to {
      max-height: 400px;
    }
  }
  
  @keyframes fold {
    from {
      max-height: 400px;
    } to {
      max-height: 0;
    }

    80% {
    }
  }
}
