@import '../color.scss';

.zhui-steps {
  display: flex;
}
.zhui-step {
  position: relative;
  display: inline-block;
  flex: 1;

  &-num {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    background: $default;
    color: #fff;
    border-radius: 50%;
    z-index: 2;
  }

  &-title {
    font-size: 14px;
  }

  &-tail {
    position: absolute;
    top: 15px;
    width: 100%;
    height: 2px;
    z-index: 1;
    transition: all .3s linear;
  }

  &-finished {
    .zhui-step-tail {
      background: $default;
    }
  }

  &-current, &-wait {
    .zhui-step-tail {
      background: $yuanshan;
    }
  }
  
  &-wait {
    .zhui-step-num {
      background: $yuanshan;
    }
  }

  &-error {
    .zhui-step {
      &-num {
        background: $haitang;
      }

      &-title {
        color: $haitang;
      }
    }
  }
}