$default: #1770a8;
$primary: #41395b;
$success: #6f8657;
$danger: #94232d;
$cardBg: #1a1c2a;
$inputBorder: #e8eaee;
$meihong:#c45a65;//莓红
$putaozi:#4c1f24;//葡萄紫
$jiangzi:#4d1018;//酱紫
$ganglan:#0f1423;//钢蓝
$haitang:#f03752;//海棠红
$muyun:#4f383e;//暮云灰
$yuanshan:#ccccd6;//远山紫