html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'STKaiti','sans-serif';
}

section {
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
  position: relative;
  height: 100vh;
}

.section-one {
  background-image: url("../bg1.jpg");
}

.section-one > .section-inner::before {
  mix-blend-mode: soft-light;  
}

.section-two {
  background-image: url("../bg2.jpg");
}

.section-two > .section-inner::before {
  mix-blend-mode: difference;  
}

.section-three {
  background-image: url("../bg3.jpg");
}

.section-three > .section-inner::before {
  mix-blend-mode: soft-light;  
}

.section-inner {
  clip: rect(auto auto auto auto);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-inner::before {
  content: " ";
  padding: 160px 300px;
  background: #94232d;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  border-radius: 2px;
}

.section-scroll {
  height: 100vh;
  overflow-y: auto;
}

.title {
  font-weight: bold;
  text-align: center;
  padding: 40px 110px;
  z-index: 1000;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  mix-blend-mode: lighten;
  border-radius: 2px;
}

.title-name {
  font-size: 100px;
}

.title-sub {
  font-size: 16px;
}

.btn-group {
  text-align: center;
  margin-top: 20px;
}

.zhui-btn {
  margin: auto 20px;
}

