@import '../color.scss';

$bg: #623033;

.zhui-table {
  &-wrapper {
    font-size: 12px;

    table {
      border-collapse: separate;
      border-spacing: 0;
    }

    th, td {
      text-align: left;
    }
  }

  &-thead {

    > tr {
      position: relative;
      color: #fff;
      background-color: $bg;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

      > th {
        padding: 8px 12px;

        &:first-child {
          border-top-left-radius: 6px;
        }

        &:last-child {
          border-top-right-radius: 6px;
        }
      }
    }
  }

  &-body {
    
  }

  &-row {
    color: #fff;
    background-color: $bg;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transform-origin: bottom;
    transition: all .1s ease-in;

    > td {
      padding: 8px 12px;
    }

    &:hover {
      transform: scale(1.02, 1.02);
      // background-color: $huaqing;
    }
  }
}