@import '../color.scss';

.zhui-table {
  &-wrapper {
    font-size: 12px;

    table {
      border-collapse: collapse;
    }

    th, td {
      text-align: left;
    }
  }

  &-thead {
    > tr {
      position: relative;
      border-radius: 2px;
      color: #fff;
      background-color: $meihong;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

      > th{
        padding: 8px 12px;
      }
    }
  }

  &-body {
    
  }

  &-row {
    color: #fff;
    background-color: $meihong;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: all .1s ease-in;

    > td {
      padding: 8px 12px;
    }

    &:hover {
      transform: scale(1.01, 1.01);
      background-color: $huaqing;
    }
  }
}