html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fefdf7;
}

.title {
  font-size: 40px;
  color: #444;
}

.btn-group {
  margin-top: 20px;
}

.btn-group a {
  display: inline-block;
  font-size: 16px;
  height: 40px;
  padding: 0 24px;
  line-height: 38px;
  margin: 10px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.start {
  background: #e76b5a;
  color: #fff;
}

.github {
  border: 1px solid #e76b5a;
  color: #e76b5a;
}
